<section class="intro center vertical">
	<h4 class="intro-subtitle animated fadeInDown">Votación decentralizada</h4>
	<h2 class="intro-title animated fadeInUp">Sistema nacional de votación decentralizada</h2>
	<div class="button-group">
		<%= link_to "Crear Perfil", new_user_registration_path, class: "button primary action animated fadeIn" %>
		<a href="#" class="button alpha animated fadeIn">Ver Votaciones</a>
	</div>
</section>
<section class="big-search center">
	<i class="material-icons">search</i>
	<input type="search" placeholder="Buscar...">
</section>
<section class="polls">
	<div class="container">
		<article class="poll-item">
			<span class="poll-item-category">Tecnología</span>
			<h2 class="poll-item-title">Ganador Hackathon BIAC Communities</h2>
			<span class="poll-item-tag"><i class="material-icons">person</i>12 votantes</span>
			<div class="poll-item-actions">
				<a href="#" class="link">Ver Detalles</a>
				<a href="#" class="action">Votar</a>
			</div>
		</article>
		<article class="poll-item">
			<span class="poll-item-category">Tecnología</span>
			<h2 class="poll-item-title">Ganador Hackathon BIAC Communities</h2>
			<span class="poll-item-tag"><i class="material-icons">person</i>12 votantes</span>
			<div class="poll-item-actions">
				<a href="#" class="link">Ver Detalles</a>
				<a href="#" class="action">Votar</a>
			</div>
		</article>
		<article class="poll-item">
			<span class="poll-item-category">Tecnología</span>
			<h2 class="poll-item-title">Ganador Hackathon BIAC Communities</h2>
			<span class="poll-item-tag"><i class="material-icons">person</i>12 votantes</span>
			<div class="poll-item-actions">
				<a href="#" class="link">Ver Detalles</a>
				<a href="#" class="action">Votar</a>
			</div>
		</article>
	</div>
</section>