$base-color: #2B8DF5;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	display: inline-block;
	text-decoration: none;
}

body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	background: #F6F8F8;
	position: relative;
	 -webkit-font-smoothing: antialiased;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;

	&.vertical {
		flex-flow: column;
	}
}

.button-group {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.button {
	transition: all 0.2s ease;

	&.action {
		background: #fff;
		color: $base-color;
		padding: 1rem 2rem;
		font-weight: 600;
		border-radius: 100rem;
		font-size: 1.1rem;
		border: 0;

		&.inverse {
			background: $base-color;
			color: #fff;
		}

		&:hover {
			box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.2);
		}
	}

	&.alpha {
		background: transparent;
		border: 0.2rem solid rgba(255,255,255,0.2);
		padding: 1rem 2rem;
		border-radius: 100rem;
		color: #fff;

		&:hover {
			background: #fff;
			color: $base-color;
		}
	}
}

.main-header {
	width: 100%;
	top: 0;
	padding: 1rem;
	position: absolute;
	display: none;

	.logo {
		transform: scale(0.5);
		display: inline-block;
	}

	.main-nav {
		display: inline-block;
		flex: 2;
		text-align: right;

		a {
			color: #fff;
			font-weight: 600;

			& + a {
				margin-left: 1rem;
			}
		}
	}
}

.intro {
	height: 100vh;
	background: url(bg.jpg) no-repeat center center $base-color;
	background-size: cover;

	&-subtitle {
		text-transform: uppercase;
		color: rgba(255,255,255,0.6);
		letter-spacing: 0.2rem;
	}

	&-title {
		color: #fff;
		font-size: 2rem;
		margin: 1rem 0;
		text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.2);
	}

	#network {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
}

.big-search {
	background: #fff;
	padding: 1rem;
	width: 100%;
	position: relative;

	i {
		padding-right: 1rem;
	}

	input {
		font-size: 1.6rem;
		border: 0;
		height: 100%;
		outline: 0;
		display: inline-block;
	}
}

.polls {
	padding: 2rem 0;
}

.poll-item {
	background: #fff;
	padding: 2rem 1rem 3.5rem 1rem;
	border-radius: 0.4rem;
	box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.2);
	display: inline-block;
	width: 32%;
	margin: 0.5%;
	max-width: 400px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;

	&:hover {
		box-shadow: 0 0.8rem 0.4rem rgba(0,0,0,0.2);
	}

	&-category {
		text-transform: uppercase;
		color: $base-color;
		font-weight: 600;
	}

	&-title {
		color: #000;
		margin: 1rem 0;
	}

	&-tag {
		background: rgba($base-color, 0.2);
		color: darken($base-color, 10%);
		font-weight: 600;
		padding: 0.5rem;
		border-radius: 100rem;

		i {
			font-size: 0.9rem;
			vertical-align: middle;
			opacity: 0.4;
			padding-right: 0.2rem;
		}
	}

	&-actions {
		position: absolute;
		bottom: 0;
		right: 0;

		.link {
			color: $base-color;
			font-weight: 600;
			padding: 1rem 1rem;
		}

		.action {
			background: $base-color;
			color: #fff;
			padding: 1rem 2rem;
			font-weight: 600;
		}
	}

}

.full-page {
	height: 100vh;
	background: url(full.jpg) no-repeat center center $base-color;
	background-size: cover;

	.material-icons {
		color: #fff;
	}

	&-title {
		color: #fff;
		text-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.5);
	}

	&-desc {
		max-width: 500px;
		text-align: center;
		color: rgba(255,255,255,0.8);
		margin: 1rem 0;
	}

	form {
		background: #fff;
		padding: 1rem;
		border-radius: 0.2rem;
		box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.5);
		margin: 1rem 0;

		.field-group {
			display: block;

			& + .field-group {
				margin-top: 1rem;
			}
		}

		p {
			max-width: 450px;
			text-align: center;
			margin: 0.4rem 0;
			color: rgba(0,0,0,0.8);
		}

		.center-field.center-field {
			display: block;
			margin: 0 auto;
			text-align: center;
		}

		.field {
			display: inline-block;
			
			label {
				color: rgba(0,0,0,0.6);
				display: block;
				margin-bottom: 0.2rem;
			}

			input {
				outline: 0;
				border: 0.1rem solid #ccc;
				padding: 0.6rem;
				font-size: 1.2rem;
				border-radius: 0.1rem;

				&:focus {
					border: 0.1rem solid $base-color;
				}
			}
		}

		.actions {
			padding-top: 1rem;

			a {
				color: rgba(#000,0.8);
				margin: 0.5rem;
			}
		}
	}
}

@media (max-width: 700px) {

	.main-header {
		.container.center {
			flex-direction: column;
		}
	}

	.intro-title {
		text-align: center;
	}

	.button-group {
		flex-direction: column;

		.button {
			margin: 0.5rem 0;
			width: 100%;
			display: block;
		}
	}

	.poll-item {
		width: 100%;
		display: block;
	}

	.poll-item + .poll-item {
		margin: 0.5rem 0;
	}

	.full-page {
		height: auto;
		padding: 8rem 0;

		form {
			width: 95%;

			.field {
				width: 100%;

				input {
					width: 100%;
				}
			}
		}
	}

}

.page-hero {
	background: $base-color;
	padding: 6rem 0 2rem 0;
	text-align: center;

	.material-icons {
		color: #fff;
	}

	&-title {
		color: #fff;
	}

	&-desc {
		color: rgba(255,255,255,0.6);
	}
}

.page-content {
	padding: 1rem 0;
}

.card-form {
	background: #fff;
	padding: 1rem;
	border-radius: 0.4em;
	box-shadow: 0 0.4rem 0.4rem rgba(#000,0.2);
	width: 80%;
	margin: 0 auto;

	.field, .fields {

		width: 100%;

		& + .field {
			margin: 1rem auto;
		}

		label {
			color: $base-color;
			font-weight: 600;
			margin-bottom: 0.5rem;
			display: block;
			text-transform: uppercase;
		}

		p {
			color: rgba(0,0, 0,0.6);
			margin: 1rem 0;
		}

		input, textarea {
			width: 100%;
			padding: 1rem;
			font-size: 1.2rem;
			border: 0.2rem solid rgba(0,0,0,0.05);
			border-radius: 0.2rem;

			&:focus {
				outline: 0;
			}
		}
	}

	.actions {
		padding: 1rem 0;
	}
}

.options a {
	background: rgba($base-color, 0.1);
	padding: 0.5rem 0;
	border: 0.4rem;
	transition: all 0.2s ease;
	margin: 0.5rem 0;
	width: 100%;
	text-align: center;
	color: rgba($base-color, 0.8);

	&:hover {
		background: rgba($base-color, 0.2);
		cursor: pointer;
	}
}

.options a.remove_nested_fields {
	background: rgba(red, 0.1);
	color: rgba(red, 0.6);
}

.option-item {
	padding: 1rem;
    border: 0.2rem dashed #dfe6e8;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
}